---
import { getCollection } from 'astro:content';
import Layout from '@layouts/Default.astro';
import BlogList from '@components/blog/BlogList.astro';
import { Card } from '@eliancodes/brutal-ui';

const posts = await getCollection('blog').then((collection) =>
  collection.reverse()
);
---

<Layout
  title='Home'
  description='HacktoberFest 2024 with WRI'
  pageTitle='Hacktberfest WRI'
>
  <main class='bg-green p-6'>
    <BlogList posts={posts} />
  </main>
</Layout>
